.formContainer {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input,
.form textarea {
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);

}

.buttons {
    text-align: end;
}

.cancel {
    padding: 15px 20px;
    background-color: transparent;
    color: var(--text);
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.create {
    padding: 15px 20px;
    background-color: var(--btn);
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .formContainer {
        width: 100%;
    }
}