.container {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
}
.imgContainer {
    position: relative;
    flex: 1;
    height: 500px;
}

.img {
    object-fit: contain;
}


.formContainer {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}