.links {
    display: flex;
    align-items: center;
    gap: 10px;
}


.signout {
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
    font-weight: 500;
    border: 1px solid var(--text);
    border-radius: 20px;
    background-color: transparent;
    color: var(--text);
    font-size: 16px;
    transition: all .1s linear;
}

.signout:hover {
    background-color: var(--text);
    color: var(--bg);
}

.signin {
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
    font-weight: 500;
    border: 1px solid var(--bg);
    border-radius: 20px;
    background-color: var(--text);
    color: var(--bg);
    font-size: 16px;
    transition: all .1s linear;
}

.signin:hover {
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--text);
}


.profile img {
    border-radius: 50%;
}

.menuButton,
.mobileLinks {
    display: none;

}

@media (max-width: 768px) {
    .links {
        display: none;
    }

    .menuButton {
        display: block;
        cursor: pointer;
    }

    .signout {
        margin-right: 0px;
    }

    .mobileLinks {
        position: absolute;
        z-index: 10;
        top: 100px;
        right: 0;
        width: 70%;
        padding-top: 50px;
        height: calc(100vh - 100px);
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        transition: height .5s ease-in-out;

    }
}